<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Edit Note: {{ note_name }}</h1>
    </header>

    <section>
        <form action="/edit/{{ note_name }}" method="POST">
            <textarea name="note_content" rows="10">{{ content }}</textarea>
            <button type="submit">Save Changes</button>
        </form>
    </section>

</body>
</html>
